<%- include('header'); -%>
<h2>This is a About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum maxime recusandae laborum magnam, voluptas officiis et ipsum excepturi odit impedit repellendus vitae in unde dolore obcaecati amet quibusdam maiores nam!</p>
<%- include('footer'); -%>